<!-- Carousel -->
<div class="">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
         
        <!-- The slideshow/carousel -->
        <div class="card carousel-inner" style="max-height: 500px;">
          <div class="carousel-item active">
            <img src="assets/images/slide/slide1.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/slide/slide2.jpg" alt="" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="assets/images/slide/slide3.jpg" alt="" class="d-block w-100">
          </div>
        </div>
      
        <!-- Left and right controls/icons -->
        <a class="carousel-control-prev" type="button" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" type="button" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>