<div class="row mt-5">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active" class="nav-item">
        <a (click)="setRoleCustomer()" class="nav-link" routerLink="user/manage">Customer</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a (click)="setRoleManager()" class="nav-link" routerLink="user/manage">Manager</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a (click)="setRoleEngineer()" class="nav-link" routerLink="user/manage">Engineer</a>
      </li>
    </ul>
</div>
<div class="row mt-3">
</div>
<app-usermanage [role]="role" [users]="filterUsers"></app-usermanage>
  