<div class="d-flex mt-5">
  <div class="p-2 mt-3"  *ngIf="!showMenu">
    <div class="card bg-menu" style="height: 463px;">
      <div class="card-header text-light text-center"><span><i class="fa-solid fa-bars" (click)="toggleMenu()" role="button"> </i></span></div>
      <div class="card-body">
        <div class="mb-4 card-text text-center">
          <i class="btn fa-solid fa-gauge text-light" routerLink="dashboard"></i>
        </div><hr>
        <div class="mb-4 card-text text-center">
          <i class="btn fa-solid fa-person-military-pointing text-light" (click)="setRoleCustomer()" routerLink="manage/users"></i>
        </div><hr>
        <div class="mb-4 card-text text-center">
          <i class="btn fa-solid fa-people-roof text-light" (click)="setRoleManager()" routerLink="manage/users"></i>
        </div><hr>
        <div class="mb-4 card-text text-center">
          <i class="btn fa-solid fa-wrench text-light" (click)="setRoleEngineer()" routerLink="manage/users"></i>
        </div><hr>
        <div class="mb-0 card-text text-center">
          <i class="btn fa-solid fa-fax text-light" routerLink="manage/services"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="p-2 mt-3 my-sidebar" *ngIf="showMenu">
    <div class="card bg-menu">
      <div class="card-header text-light"><span class="float-right"><i class="fa-solid fa-bars" (click)="toggleMenu()" role="button"></i></span></div>
      <div class="card-header">
        <span  class="text-info">
          <i>{{admin.userName }}</i>
        </span>
        <span class="badge badge-pill badge-info float-right text-secondary"> {{admin.role}} </span>
      </div>
      <div class="card-body">
        <p class="card-text">
          <i class="fa-solid fa-gauge"></i>
          <a (click)="setRoleCustomer()" class="text-light ml-4" routerLink="dashboard" role="button">Dashboard</a>
        </p> <hr>
        <p class="card-text">
          <i class="fa-solid fa-person-military-pointing"></i>
          <a (click)="setRoleCustomer()" class="text-light ml-4" role="button" routerLink="manage/customers">Customers</a>
        </p> <hr>
        <p class="card-text">
          <i class="fa-solid fa-people-roof"></i>
          <a (click)="setRoleManager()" class="text-light ml-4" role="button" routerLink="manage/managers">Managers</a>
        </p> <hr>
        <p class="card-text">
          <i class="fa-solid fa-wrench"></i>
          <a (click)="setRoleEngineer()" role="button" class="text-light ml-4" routerLink="manage/engineers">Engineers</a>
        </p> <hr>
        <p class="card-text">
          <i class="fa-solid fa-fax"></i>
          <a class="text-light ml-4" role="button" routerLink="manage/services">Services</a>
        </p>
      </div>
    </div>
  </div>
  <div class="p-2 mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

  