<div class="container-fluid">
    <div class="clearfix p-2 bg-secondary text-light" *ngIf="getRole() == 'CUSTOMER' || getRole() == ''">
        <div class="float-right mr-5">
            <span><i class="fa-solid fa-grip-lines-vertical mr-3"></i></span>
            <span><i class="fa-regular fa-envelope mr-2"></i></span>
            <span>Email: abc@xyz.com.co</span>
        </div>
        <div class="float-right mr-3">
            <span><i class="fa-solid fa-grip-lines-vertical mr-3"></i></span>
            <span><i class="fa-solid fa-phone mr-2"></i></span>
            <span>Sales: 999-999-999</span>
        </div>
        <div class="float-right mr-3">
            <span><i class="fa-solid fa-grip-lines-vertical mr-3"></i></span>
            <span><i class="fa-solid fa-phone mr-2"></i></span>
            <span>Support: 999-999-999</span>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>