<!-- User details form -->
<div class="row">
    <div class="col-sm-5">
        <div 
        class="card mb-3" 
        [@selectRecord]="selectedId != currentId? 'selected': 'default'">
            <div class="card-header bg-dark text-white">
                User Details
            </div>
            <div class="card-body bg-secondary">
                <form [formGroup]="usersForm" (ngSubmit)="createUser()">
                    <div formGroupName = "personalDetails" class="form-group">
                        <div class="mb-2">
                            <div class="alert alert-info" role="alert" *ngIf="showMessage">
                                 {{msg+ getRole() | titlecase}}!
                            </div>    
                        </div>
                        <div class="row mb-2 mt-2">
                            <div class="col">
                                <input id="userName" class="form-control" type="text" formControlName="userName" placeholder="User Name">
                            </div>
                            <div class="col">
                                <input id="mobile" class="form-control" type="number" formControlName="mobile" placeholder="Mobile">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input id="email" class="form-control" type="email" formControlName="email" placeholder="Email">
                            </div>
                            <div class="col">
                                <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <input id="role" class="form-control" type="text" formControlName="role" [value]="getRole()">
                            </div>
                            <div class="col">
                                <input id="pincode" class="form-control" type="text" formControlName="pinCode" placeholder="Pincode">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <label for="joiningDate">Joining Date</label>
                                <input id="joiningDate" class="form-control" type="date" formControlName="joiningDate" [value]="currentDate">
                            </div>
                            <div class="col-6" *ngIf="getRole()=='CUSTOMER'">
                                <label>Add Services:</label>
                                <div class="card p-1">
                                    <div class="form-check" formArrayName="serviceArray" *ngFor="let serv of htmlServices index as i">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [formControlName]="i" [id]="serv.serviceId">
                                            {{serv.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <button 
                            class="btn btn-info ml-3" 
                            type="submit" 
                            [disabled]="usersForm.invalid"
                            style="width: 120px; height: 45px;"
                            *ngIf="!showSpinner">
                                {{ _isedit?  'Update User': 'Create User' }}
                            </button>
                            <button 
                            class="btn btn-info ml-3"
                            style="width: 120px; height: 45px;" 
                            *ngIf="showSpinner">
                                <i class="fas fa-spinner fa-spin"></i>
                            </button>
                        </div>
                        <div class="col-6">
                            <input class="btn btn-info ml-3" type="button" value="Reset Form" (click)="reset()" style="width: 120px; height: 45px;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- User table depends on user role -->
    <div class="col-sm-7">
        <div class="card">
            <div class="card-header bg-dark text-white" *ngIf="getRole() != ''">
                {{ getRole() + 's' | titlecase}}
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>
                                Name
                                <span class="mx-3" *ngIf="_sortByName">
                                    <i (click)="_sortArrow = !_sortArrow" [ngClass]="_sortArrow?  'fa-solid fa-arrow-up text-success':'fa-solid fa-arrow-down text-danger' "></i>
                                </span> 
                            </th>
                            <th>Email</th>
                            <th>
                                Pin Code
                                <!-- <span class="mx-3" *ngIf="_sortBypincode">
                                    <i (click)="sortField('pinCode')" [ngClass]="!_sortArrow? 'fa-solid fa-arrow-down text-danger' : 'fa-solid fa-arrow-up text-success'"></i>
                                </span>  -->
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let user of getHtmlUsers() index as i">
                            <tr class="deleted" [@deleteSlideRight]>
                                <td>{{ i + 1 }}</td>
                                <td>{{ user.userName | titlecase}}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.pinCode }}</td>
                                <td><button class="btn btn-danger" type="button" (click)="deleteUser(user.id)">Delete</button></td>
                                <td><button class="btn btn-warning" type="button" (click)="userEdit(user.id)">Edit</button></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>


