<!-- User details form -->
<div class="row">
    <div class="col-sm-5">
        <div class="card mb-3">
            <div class="card-header bg-dark text-white">
                User Details
            </div>
            <div class="card-body bg-light">
                <form [formGroup]="usersForm" (ngSubmit)="createUser()">
                    <div formGroupName = "personalDetails" class="form-group">
                        <div class="row mb-2">
                            <div class="col">
                                <input id="userName" class="form-control" type="text" formControlName="userName" placeholder="User Name">
                            </div>
                            <div class="col">
                                <input id="mobile" class="form-control" type="number" formControlName="mobile" placeholder="Mobile">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input id="email" class="form-control" type="email" formControlName="email" placeholder="Email">
                            </div>
                            <div class="col">
                                <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <select id="role" class="form-control" formControlName="role">
                                    <option *ngFor="let role of _roles" [ngValue]="role.name">{{role.name | titlecase}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <input id="pincode" class="form-control" type="text" formControlName="pinCode" placeholder="Pincode">
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="role=='CUSTOMER'">
                        <div class="col-6">
                            <label>Add Services:</label>
                            <div class="card p-1">
                                <div class="form-check" formArrayName="serviceArray" *ngFor="let serv of htmlServices index as i">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [formControlName]="i" [id]="serv.serviceId">
                                        {{serv.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <button 
                                class="btn btn-info" 
                                type="submit" 
                                [value] ="_isedit && !showSpinner? 'Update User':'Create User'" 
                                [disabled]="usersForm.invalid"
                                style="width: 120px; height: 45px;">
                                <div class="spinner-border spinner-border-sm" role="status" *ngIf="showSpinner else message">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                <ng-template #message>Create User</ng-template>
                            </button>
                        </div>
                        <div class="col-6">
                            <input class="btn btn-secondary my-0" type="button" value="Reset Form" (click)="reset()" style="width: 120px; height: 45px;">
                        </div>
                        <div class="alert alert-primary mt-2 " role="alert" *ngIf="showMessage">
                            Successfully Save {{role}}!
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- User table depends on user role -->
    <div class="col-sm-7">
        <div class="card">
            <div class="card-header bg-dark text-white" *ngIf="role != ''">
                {{ role + 's' | titlecase}}
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Pin Code</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users index as i">
                            <td>{{ i + 1 }}</td>
                            <td>{{ user.userName | titlecase}}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.pinCode }}</td>
                            <td><button class="btn btn-danger" type="button" (click)="deleteUser(user.id)">Delete</button></td>
                            <td><button class="btn btn-warning" type="button" (click)="userEdit(user.id)">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>


