<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mt-auto">
    <a class="navbar-brand" (click)="goHome()" role="button"><i class="fa-solid text-info fa-house"></i></a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="detail">Customer's Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="complaints">Complaint</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/custome-billing">Billing</a>
            </li>
        </ul>
    </div>
</nav>
<app-carousel></app-carousel>
<router-outlet></router-outlet>
